<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>agreement_pop_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,36}</string>
                <key>spriteSourceSize</key>
                <string>{137,36}</string>
                <key>textureRect</key>
                <string>{{1384,39},{137,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_iknow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{107,29}</string>
                <key>spriteSourceSize</key>
                <string>{151,51}</string>
                <key>textureRect</key>
                <string>{{255,1},{107,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cp_wx_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,31}</string>
                <key>spriteSourceSize</key>
                <string>{142,31}</string>
                <key>textureRect</key>
                <string>{{593,93},{142,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_pop_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,36}</string>
                <key>textureRect</key>
                <string>{{612,1},{86,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>o_club_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,27}</string>
                <key>spriteSourceSize</key>
                <string>{120,27}</string>
                <key>textureRect</key>
                <string>{{145,1},{120,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,98}</string>
                <key>spriteSourceSize</key>
                <string>{59,98}</string>
                <key>textureRect</key>
                <string>{{315,1},{59,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,45}</string>
                <key>spriteSourceSize</key>
                <string>{93,45}</string>
                <key>textureRect</key>
                <string>{{376,1},{93,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_btn_pre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,45}</string>
                <key>spriteSourceSize</key>
                <string>{93,45}</string>
                <key>textureRect</key>
                <string>{{423,1},{93,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_btn_rmb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,48}</string>
                <key>textureRect</key>
                <string>{{174,1},{118,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_btn_txt_join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,40}</string>
                <key>spriteSourceSize</key>
                <string>{158,40}</string>
                <key>textureRect</key>
                <string>{{1128,77},{158,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_btn_yel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,72}</string>
                <key>spriteSourceSize</key>
                <string>{203,72}</string>
                <key>textureRect</key>
                <string>{{814,1},{203,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_club_fast_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{1019,1},{72,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_club_fast_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{738,1},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_club_fast_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,22}</string>
                <key>spriteSourceSize</key>
                <string>{77,22}</string>
                <key>textureRect</key>
                <string>{{315,101},{77,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_club_please_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,140}</string>
                <key>spriteSourceSize</key>
                <string>{90,140}</string>
                <key>textureRect</key>
                <string>{{470,1},{90,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_false.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,120}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_flag_klq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{422,96},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_flag_klq_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{650,1},{78,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_flag_sfk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{468,96},{44,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_flag_sfk_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,42}</string>
                <key>spriteSourceSize</key>
                <string>{78,42}</string>
                <key>textureRect</key>
                <string>{{694,1},{78,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_full_now.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,27}</string>
                <key>spriteSourceSize</key>
                <string>{105,27}</string>
                <key>textureRect</key>
                <string>{{286,1},{105,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_give_up_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,29}</string>
                <key>spriteSourceSize</key>
                <string>{110,29}</string>
                <key>textureRect</key>
                <string>{{224,1},{110,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_icon_net.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{559,93},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_icon_wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,32}</string>
                <key>spriteSourceSize</key>
                <string>{43,32}</string>
                <key>textureRect</key>
                <string>{{514,93},{43,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,74}</string>
                <key>spriteSourceSize</key>
                <string>{43,74}</string>
                <key>textureRect</key>
                <string>{{737,81},{43,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ot_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,123},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_red_num_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{394,96},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_sel_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{152,36}</string>
                <key>textureRect</key>
                <string>{{1384,1},{152,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_sel_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{152,48}</string>
                <key>textureRect</key>
                <string>{{813,77},{152,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_spread_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,33}</string>
                <key>spriteSourceSize</key>
                <string>{219,33}</string>
                <key>textureRect</key>
                <string>{{1288,77},{219,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_title_bg_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,63}</string>
                <key>spriteSourceSize</key>
                <string>{290,63}</string>
                <key>textureRect</key>
                <string>{{1092,1},{290,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,120}</string>
                <key>spriteSourceSize</key>
                <string>{70,120}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ot_txt_iknow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,41}</string>
                <key>spriteSourceSize</key>
                <string>{159,41}</string>
                <key>textureRect</key>
                <string>{{967,75},{159,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{1537,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ddcd8b884dd172e099984287e29419f:43ddea7486aa50cf7bcfe390cbe946d5:454e9ce649c79c377f9a07836b0b25b4$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
