<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>us_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{174,196}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,837},{174,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>us_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{159,38},{42,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>us_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,93}</string>
                <key>spriteSourceSize</key>
                <string>{832,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{832,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>us_tip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,61}</string>
                <key>spriteSourceSize</key>
                <string>{834,61}</string>
                <key>textureRect</key>
                <string>{{96,1},{834,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>us_tip_lb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{159,1},{37,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>update_scene.png</string>
            <key>size</key>
            <string>{198,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2826f6e7dacf8694141c37fcee0a927b:fbb6849d537c4794b1887773c5063cb0:e726e8dfd4b8381d80229439e0fa131e$</string>
            <key>textureFileName</key>
            <string>update_scene.png</string>
        </dict>
    </dict>
</plist>
